# Rust output
/target

# GSchema compiled form - we don't want that
# unless it's freshly compiled.
gschemas.compiled

# test data.json
data.json

# Test image folder
res/scripts
res/iconOrder.txt
res/overlay-data.json
res/modules

# Just straight up ignored files
ignored/

release/